@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #4917ff;
  --primary-gradient-from: #4917ff;
  --primary-gradient-to: #1761ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-gradient-from: var(--primary-gradient-from);
  --color-primary-gradient-to: var(--primary-gradient-to);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #4917ff;
    --primary-gradient-from: #4917ff;
    --primary-gradient-to: #1761ff;
  }
}
